<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name"/>
    <label for="surname">surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname"/>
    <label for="age">age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age"/>
    <input type="submit" value="Create User">
</form>
</body>
</html>