<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID"/>
    <label for="name">Name</label>
    <input  type="text" th:field="*{name}" id="name" placeholder="Name"/>
    <label for="surname">Surname</label>
    <input  type="text" th:field="*{surname}" id="surname" placeholder="Surname"/>
    <label for="age">Age</label>
    <input  type="text" th:field="*{age}" id="age" placeholder="Age"/>
    <input type="submit" value="Update user">
</form>
</body>
</html>